{% extends "base.html" %}
{% load static %}
{% block modal %}
<div class="modal" id="infodlg">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h2 class="is-size-3 has-text-weight-bold">Sabías que...</h2>
            <div class="columns">
                <div class="column is-one-third">
                    <figure class="image">
                        <img src="{% static 'tfgcore/img/usr_avtr.svg' %}">
                    </figure>
                </div>
                <div class="column">
                    {% block modalcontent %}
                    {% endblock%}
            </div>
        </div>
      </div>
    
      <a href class="modal-close is-large" aria-label="close"></a>
</div>
{% endblock %}

{% block js %}
{{block.super}}
<script>
function showModal(){
    infodlg = document.getElementById("infodlg");
    infodlg.classList.add("is-active")
}
</script>
{% endblock %}