{% extends "base.html" %}
{% load static %}
{% block body %}
<section class="section">
    <div class="content">
        <h1 class="title is-1">Aviso Legal</h1>
        <p>
            Este dominio y todos sus contenidos visualizables son propiedad de Markus Barth Classen. 
            Contacto por correo electrónico: <a href="mailto:tfg@markusbarth.net">tfg@markusbarth.net</a>
            Se prohibe la reproducción de los contenidos sin autorización previa del autor, salvo aquellas
            partes publicadas bajo licencias libres como Creative Commons.
        </p>
        <p>
            La finalidad de este sitio web es la recopilación de datos mediante encuesta. Estos datos se
            usarán para la investigación científica. Es posible que los datos se usen para fines educativos
            en la Universidad Miguel Hernández. Código OIR TFG.GFI.EBV.MWBC.250209.
        </p>
        <p>
            Los datos recopilados en la encuesta se guardarán en una base de datos. 
            No se guardarán datos identificativos. La comprobación de identidad de los datos para poder
            facilitar el ejercicio de los derechos ARCO de los participantes de la encuesta se realizará
            mediante comparación de hashes.
        </p>
        <p>
            Todos los participantes pueden ejercer sus derechos de acceso, rectificación, cancelación y oposición 
            de su datos personales, aunque no se hayan guardado datos identificativos. Para este fin pueden 
            notificar su intención a través del correo electrónico <a href="mailto:tfg@markusbarth.net">tfg@markusbarth.net</a>.
        </p>
        
        <p>
            Este sitio web utiliza cookies como mecanismo de seguridad (para evitar ataques XSRF) y la gestión de sesiones
            de cada encuesta. El uso de cookies se limita a lo estrictamente necesario para estas finalidades.
        </p>
    </div>
</section>
{% endblock %}