{% extends "baseform.html" %}
{% load static %}
{% block progress %}
<figure class="image px-5">
    <img src="{% static 'tfgcore/img/bye.svg' %}">
</figure>
{% endblock %}

{% block body %}
<section class="section">
    <h2 class="is-size-5">¡Muchas Gracias por tu tiempo!</h2>
    <form method="post" id="questionnaire">
        <div class="control my-4">
            Agradezco mucho que has participado en esta encuesta.
            Si tienes dudas o preguntas relacionadas con la fisioterapia
            no dudes en escribirme al <a href="mailto:tfg@markusbarth.net">tfg@markusbarth.net</a>.
        </div>
    </form>
</section>
{% endblock %}