{% extends "base.html" %}
{% load static %}

{% block body %}
<section class="hero is-link">
    <div class="hero-body">
        <div class="">
            
        </div>
        <div class="section">
            <h1 class="title">¡Hola!</h1>
            <h2 class="subtitle">Tengo algunas preguntas para tí.</h2>
        </div>
        <div class="section">
            <div class="columns">
                <div class="column is-3">
                    <img src="{% static 'tfgcore/img/avatar.svg' %}" >
                </div>
                <div class="column is-6">
                    <p>
                        Me llamo Markus y estoy haciendo un trabajo
                        sobre la imagen que tienen las personas como tú
                        de la fisioterapia.
                    </p>
                    <p>
                        Para ello me gustaría saber lo que tú piensas
                        y lo que sabes de la fisioterapia. 
                    </p>
                    <p>
                        A cambio te contaré algunas cosillas sobre este
                        fascinante trabajo. 
                    </p>
                    <p>
                        Qué me dices, ¿te animas?
                    </p>
                    <div class="section">
                        <a href="{% url 'tfgcore:personaldata' %}" class="button is-success">Adelante!</a>
                        <a href="https://google.com" class="button is-danger">No gracias.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}