{% extends "base.html" %}
{% load static %}

{% block body %}
<section class="hero is-link">
    <div class="hero-body">
        <div class="">
            
        </div>
        <div class="section">
            <h1 class="title">¡Hola!</h1>
            <h2 class="subtitle">Tengo algunas preguntas para tí.</h2>
        </div>
        <div class="section">
            <div class="columns">
                <div class="column is-3">
                    <img src="{% static 'tfgcore/img/avatar.svg' %}" >
                </div>
                <div class="column is-6">
                    <p>
                        Me llamo Markus y estoy haciendo un trabajo
                        sobre la imagen que tienen las personas como tú
                        de la fisioterapia.
                    </p>
                    <p>
                        Para ello me gustaría saber lo que tú piensas
                        y lo que sabes de la fisioterapia. 
                    </p>
                    <p>
                        A cambio te contaré algunas cosillas sobre este
                        fascinante trabajo. 
                    </p>
                    <p>
                        Qué me dices, ¿te animas?
                    </p>
                    <div class="section">
                        <a href="{% url 'tfgcore:personaldata' %}" class="button is-success">Adelante!</a>
                        <a href="https://google.com" class="button is-danger">No gracias.</a>
                    </div>
                    <p>
                        Solicito su participación en el trabajo de investigación titulado La imagen de la fisioterapia en la población de Guardamar del Segura y
                        entorno, cuyo responsable (tutor/a) es Eduardo Bueno Vergara consiste en investigar los conocimientos que tienen las personas que viven en 
                        Guardamar del Segura y sus alrededores sobre la fisioterapia, así como posibles sesgos en estos conocimientos.
                        Se podrá cumplimentar desde 01/04/2025 hasta 15/04/2025. La participación es totalmente voluntaria 
                        (si no desea participar o si se retira anticipadamente no habrá ninguna consecuencia) 
                        y anónima (no se dispondrá de ningún dato que le identifique). 
                        Si tiene alguna pregunta puede consultar en este correo: 
                        <a href="mailto:tfg@markusbarth.net">tfg@markusbarth.net</a>. 
                        Si usted responde se entiende de forma tácita que ha comprendido en que consiste este estudio, 
                        que ha podido preguntar y aclarar las dudas que se le hubieran planteado y que acepta participar. 
                        El equipo investigador le agradece su valioso tiempo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}