{% extends "baseform.html" %}
{% load static %}
{% block progress %}
<figure class="image px-5">
    <img src="{% static 'tfgcore/img/progress_personal_data.svg' %}">
</figure>
{% endblock %}
{% block body %}
<section class="section">
    {% if msgs %}
        <div class="message is-danger">
            <div class="message-header">
                <p>Echa un vistazo</p>
            </div>
            <div class="message-body">
                <div class="content">
                    {% for msg in msgs %}
                        <p>
                            {{msg}}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
            <div class="content">
                <p>
                    Esta encuesta cuenta con la autorización de la <a href="https://oir.umh.es/presentacion/">
                    Oficina de Investigación Responsable de la Universidad Miguel Hernández</a> 
                    y por tanto cumple con unos requerimientos rígidos de protección de datos.
                </p>
                <p>
                    Tus datos se guardarán de forma anonimizada. Es decir que no habrá manera de saber si has sido tú el que ha dado
                    estas respuestas. Te pediré tu correo electrónico, pero no se guardará. Sólo se guardará una huella (un hash) de
                    este correo. 
                </p> 
                <p>
                    Te preguntaré también sobre algunas enfermedades que has tenido o hábitos como fumar o si haces deporte 
                    y te pediré tu edad aproximada. Estos datos me sirven para estudiar la relación que puede haber entre
                    estas características y la imagen que tienes de la fisioterapia así como de la información de la que dispones
                    sobre ella.
                </p>
            </div>
        {% endif %}
    <div>
        <form method="post" id="questionnaire">
            {% csrf_token %}
            <div class="box has-background-warning"> 
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Edad</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded">
                                <div class="select is-primary">
                                    <select  name="agerange">
                                        <option value="0" {% if formdata.agerange == "0" %}selected{% endif %}>Selecciona una opción</option>
                                        <option value="1" {% if formdata.agerange == "1" %}selected{% endif %}>18-24 años</option>
                                        <option value="2" {% if formdata.agerange == "2" %}selected{% endif %}>25-34 años</option>
                                        <option value="3" {% if formdata.agerange == "3" %}selected{% endif %}>35-44 años</option>
                                        <option value="4" {% if formdata.agerange == "4" %}selected{% endif %}>45-54 años</option>
                                        <option value="5" {% if formdata.agerange == "5" %}selected{% endif %}>55-64 años</option>
                                        <option value="6" {% if formdata.agerange == "6" %}selected{% endif %}>65 o más años</option>
                                    </select>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Género</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded">
                                <div class="select is-primary">
                                    <select  name="gender">
                                        <option value="">Selecciona una opción</option>
                                        <option value="MALE" {% if formdata.gender == "MALE" %}selected{% endif %}>Hombre</option>
                                        <option value="FEMALE" {% if formdata.gender == "FEMALE" %}selected{% endif %}>Mujer</option>
                                        <option value="TRANSGENDER" {% if formdata.gender == "TRANSGENDER" %}selected{% endif %}>Transgénero</option>
                                        <option value="AGENDER" {% if formdata.gender == "AGENDER" %}selected{% endif %}>Asexual</option>
                                        <option value="GENDERFLUID" {% if formdata.gender == "GENDERFLUID" %}selected{% endif %}>Género fluido</option>
                                        <option value="NONBINARY" {% if formdata.gender == "NONBINARY" %}selected{% endif %}>No binary</option>
                                        <option value="GENDERQUEER" {% if formdata.gender == "GENDERQUEER" %}selected{% endif %}>Queer</option>
                                        <option value="NA" {% if formdata.gender == "NA" %}selected{% endif %}>No quiero especificar</option>
                                    </select>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Estudios</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded">
                                <div class="select is-primary">
                                    <select  name="education">
                                        <option value="">Selecciona una opción</option>
                                        <option value="1" {% if formdata.gender == "1" %}selected{% endif %}>Educación secundaria obligatoria (EGB/ESO)</option>
                                        <option value="2" {% if formdata.gender == "2" %}selected{% endif %}>Bachillerato</option>
                                        <option value="3" {% if formdata.gender == "3" %}selected{% endif %}>FP grado medio</option>
                                        <option value="4" {% if formdata.gender == "4" %}selected{% endif %}>FP grado superior</option>
                                        <option value="5" {% if formdata.gender == "5" %}selected{% endif %}>Estudios universitarios</option>
                                        <option value="6" {% if formdata.gender == "6" %}selected{% endif %}>Estudios de posgrado</option>
                                        <option value="0" {% if formdata.gender == "0" %}selected{% endif %}>No quiero especificar</option>
                                    </select>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                <!--
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Código Postal</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input class="input" type="text" placeholder="Código Postal" name="postcode">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-map-marker-alt"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                -->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Correo electrónico</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input class="input" type="text" placeholder="Correo electrónico" name="email" value="{{formdata.email}}">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box has-background-warning">
                <div class="field">
                    <label class="label">¿Fumas?</label>
                    <div class="control">
                        <input class="is-checkradio" id="smokerNo" type="radio" name="smoker" value="No" checked="checked">
                        <label for="smokerNo">No</label>
                        <input class="is-checkradio" id="smokerYes" type="radio" name="smoker" value="Yes">
                        <label for="smokerYes">Sí</label>
                    </div>
                </div>
                <div class="field">
                    <label class="label">¿Haces deporte?</label>
                    <div class="control">
                        <input class="is-checkradio" id="sportNo" type="radio" name="sport" value="No" checked="checked">
                        <label for="sportNo">No</label>
                        <input class="is-checkradio" id="sportYes" type="radio" name="sport" value="Yes">
                        <label for="sportYes">Sí</label>
                    </div>
                </div>
            </div>
            <div class="box has-background-warning">
                <div class="field">
                    <label class="label">¿Eres profesional sanitario?</label>
                    <div class="control">
                        <input class="is-checkradio" id="healthprofessionalNo" type="radio" name="healthprofessional" value="No" checked="checked" onchange="toggleProfessionPanel(event)">
                        <label for="healthprofessionalNo">No</label>
                        <input class="is-checkradio" id="healthprofessionalYes" type="radio" name="healthprofessional" value="Yes"  onchange="toggleProfessionPanel(event)">
                        <label for="healthprofessionalYes">Sí</label>
                    </div>
                </div>
                <div class="field">
                    <label class="label">¿Tienes una enfermedad autoimune o neurodegenerativa?</label>
                    <div class="control">
                        <input class="is-checkradio" id="pathologies01" type="radio" name="pathologies" value="No" checked="checked" onchange="togglePathologies(event)">
                        <label for="pathologies01">No</label>
                        <input class="is-checkradio" id="pathologies02" type="radio" name="pathologies" value="Yes" onchange="togglePathologies(event)">
                        <label for="pathologies02">Sí</label>
                    </div>
                </div>
            </div>
        </form>
        <div class="level my-5">
            <div class="level-left">
                <button class="button is-info" onclick="showModal()">Vamos a seguir!</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block modalcontent %}
    <div class="content">
        <p>
            En España para ser fisioterapeuta hay que cursar
            una carrera universitaria de cuatro años.
        </p>
        <p>
            Todos los fisioterapeutas tienen obligación de
            colegiarse. Puedes consultar un listado de todos
            los fisioterapeutas en la Comunidad Valenciana
            en la <a href="https://www.colfisiocv.com/node/26074" target="_blank">
                página del Colegio de Fisioterapeutas</a>
            y así puedes ver si tu fisio está colegiado.
        </p>
    <button class="button" form="questionnaire">Cerrar y seguir</button>
    </div>
{% endblock %}