{% extends "baseform.html" %}
{% load static %}
{% block progress %}
<figure class="image px-5">
    <img src="{% static 'tfgcore/img/progress_question06.svg' %}">
</figure>
{% endblock %}

{% block body %}
<section class="section">
    <h2 class="is-size-5">¿Cuánta confianza tiene en las siguientes terapias?</h2>
    <p>
        Para cada opción puedes deslizar el botón hacia la izquierda y hacia la derecha.
        Cuanto más esté a la izquierda, menos confianza y cuanto más a la derecha, más confianza tienes.
    </p>
    <form method="post" id="questionnaire">
        {% csrf_token %}
        <div class="control my-4">
            <label class="label">Electroterapia</label>
            <div class="columns">
                <div class="column">
                    <span id="Slider1Less" class="tag is-danger" style="min-width: 100px; opacity: 0.5;">Ninguna</span>
                </div>
                <div class="column is-8">
                    <input id="Slider1" name="answer05a" oninput="rangeChangeHandler(event)" class="slider is-fullwidth is-info" step="1" min="0" max="100" value="50" type="range">
                </div>
                <div class="column">
                    <span id="Slider1More" class="tag is-success" style="min-width: 100px; opacity: 0.5;">Muchísima</span>
                </div>
            </div>
        </div>
        <div class="control my-4">
            <label class="label">Punción seca (terapia con agujas)</label>
            <div class="columns">
                <div class="column">
                    <span id="Slider2Less" class="tag is-danger" style="min-width: 100px; opacity: 0.5;">Ninguna</span>
                </div>
                <div class="column is-8">
                    <input id="Slider2" name="answer05b" oninput="rangeChangeHandler(event)" class="slider is-fullwidth is-info" step="1" min="0" max="100" value="50" type="range">
                </div>
                <div class="column">
                    <span id="Slider2More" class="tag is-success" style="min-width: 100px; opacity: 0.5;">Muchísima</span>
                </div>
            </div>
        </div>
        <div class="control my-4">
            <label class="label">Ejercicio terapéutico</label>
            <div class="columns">
                <div class="column">
                    <span id="Slider3Less" class="tag is-danger" style="min-width: 100px; opacity: 0.5;">Ninguna</span>
                </div>
                <div class="column is-8">
                    <input id="Slider3" name="answer05c" oninput="rangeChangeHandler(event)" class="slider is-fullwidth is-info" step="1" min="0" max="100" value="50" type="range">
                </div>
                <div class="column">
                    <span id="Slider3More" class="tag is-success" style="min-width: 100px; opacity: 0.5;">Muchísima</span>
                </div>
            </div>
        </div>
        <div class="control my-4">
            <label class="label">Tratamiento con Láser</label>
            <div class="columns">
                <div class="column">
                    <span id="Slider4Less" class="tag is-danger" style="min-width: 100px; opacity: 0.5;">Ninguna</span>
                </div>
                <div class="column is-8">
                    <input id="Slider4" name="answer05d" oninput="rangeChangeHandler(event)" class="slider is-fullwidth is-info" step="1" min="0" max="100" value="50" type="range">
                </div>
                <div class="column">
                    <span id="Slider4More" class="tag is-success" style="min-width: 100px; opacity: 0.5;">Muchísima</span>
                </div>
            </div>
        </div>
        <div class="control my-4">
            <label class="label">Biorresonancia</label>
            <div class="columns">
                <div class="column">
                    <span id="Slider5Less" class="tag is-danger" style="min-width: 100px; opacity: 0.5;">Ninguna</span>
                </div>
                <div class="column is-8">
                    <input id="Slider5" name="answer05e" oninput="rangeChangeHandler(event)" class="slider is-fullwidth is-info" step="1" min="0" max="100" value="50" type="range">
                </div>
                <div class="column">
                    <span id="Slider5More" class="tag is-success" style="min-width: 100px; opacity: 0.5;">Muchísima</span>
                </div>
            </div>
        </div>
        <div class="control my-4">
            <label class="label">Aplicación de frío o calor</label>
            <div class="columns">
                <div class="column">
                    <span id="Slider6Less" class="tag is-danger" style="min-width: 100px; opacity: 0.5;">Ninguna</span>
                </div>
                <div class="column is-8">
                    <input id="Slider6" name="answer05f" oninput="rangeChangeHandler(event)" class="slider is-fullwidth is-info" step="1" min="0" max="100" value="50" type="range">
                </div>
                <div class="column">
                    <span id="Slider6More" class="tag is-success" style="min-width: 100px; opacity: 0.5;">Muchísima</span>
                </div>
            </div>
        </div>
        <div class="control my-4">
            <label class="label">Terapia manual y masaje</label>
            <div class="columns">
                <div class="column">
                    <span id="Slider7Less" class="tag is-danger" style="min-width: 100px; opacity: 0.5;">Ninguna</span>
                </div>
                <div class="column is-8">
                    <input id="Slider7" name="answer05g" oninput="rangeChangeHandler(event)" class="slider is-fullwidth is-info" step="1" min="0" max="100" value="50" type="range">
                </div>
                <div class="column">
                    <span id="Slider7More" class="tag is-success" style="min-width: 100px; opacity: 0.5;">Muchísima</span>
                </div>
            </div>
        </div>
        <div class="control my-4">
            <label class="label">Aromaterapia</label>
            <div class="columns">
                <div class="column">
                    <span id="Slider8Less" class="tag is-danger" style="min-width: 100px; opacity: 0.5;">Ninguna</span>
                </div>
                <div class="column is-8">
                    <input id="Slider8" name="answer05h" oninput="rangeChangeHandler(event)" class="slider is-fullwidth is-info" step="1" min="0" max="100" value="50" type="range">
                </div>
                <div class="column">
                    <span id="Slider8More" class="tag is-success" style="min-width: 100px; opacity: 0.5;">Muchísima</span>
                </div>
            </div>
        </div>
        <div class="control my-4">
            <label class="label">Magnetoterapia</label>
            <div class="columns">
                <div class="column">
                    <span id="Slider9Less" class="tag is-danger" style="min-width: 100px; opacity: 0.5;">Ninguna</span>
                </div>
                <div class="column is-8">
                    <input id="Slider9" name="answer05i" oninput="rangeChangeHandler(event)" class="slider is-fullwidth is-info" step="1" min="0" max="100" value="50" type="range">
                </div>
                <div class="column">
                    <span id="Slider9More" class="tag is-success" style="min-width: 100px; opacity: 0.5;">Muchísima</span>
                </div>
            </div>
        </div>
        <div class="control my-4">
            <label class="label">Biodescodificación</label>
            <div class="columns">
                <div class="column">
                    <span id="Slider10Less" class="tag is-danger" style="min-width: 100px; opacity: 0.5;">Ninguna</span>
                </div>
                <div class="column is-8">
                    <input id="Slider10" name="answer05j" oninput="rangeChangeHandler(event)" class="slider is-fullwidth is-info" step="1" min="0" max="100" value="50" type="range">
                </div>
                <div class="column">
                    <span id="Slider10More" class="tag is-success" style="min-width: 100px; opacity: 0.5;">Muchísima</span>
                </div>
            </div>
        </div>
        <div class="control my-4">
            <div class="field">
                <label class="label">Otras terapias</label>
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="otras terapias" name="others">
                    <span class="icon is-small is-left">
                        <i class="fas fa-thumbs-up"></i>
                    </span>
                </p>
            </div>
        </div>
    </form>
    <div class="level my-5">
        <div class="level-left">
            <button class="button is-info" onclick="showModal()">Vamos a seguir!</button>
        </div>
    </div>
</section>
{% endblock %}

{% block modalcontent %}
    <div class="content">
        <p>
            El hombro es nuestra articulación más móvil.
            En realidad se compone da varias articulaciones que
            funcionan conjuntamente. Esta movilidad viene a un precio,
            es la articulación que se luxa con mayor facilidad y su 
            complejidad conlleva no pocos tipos de lesiones y patologías.
            Muchas de ellas tardan mucho en curarse pero con tratamiento y 
            rehabilitación adecuada suele tener buen pronóstico.
        </p>
    <button class="button" form="questionnaire">Cerrar y seguir</button>
    </div>
{% endblock %}

{% block js %}
{{ block.super }}
<script>
    function rangeChangeHandler(event){
        lessTag = document.getElementById(event.target.id + "Less");
        lessTag.style.opacity = 1 - event.target.value / 100
        moreTag = document.getElementById(event.target.id + "More");
        moreTag.style.opacity = event.target.value / 100
    }
</script>
{% endblock %}