{% extends "baseform.html" %}
{% load static %}
{% block progress %}
<figure class="image px-5">
    <img src="{% static 'tfgcore/img/progress_question07.svg' %}">
</figure>
{% endblock %}

{% block body %}
<section class="section">
    <h2 class="is-size-5">¿Qué importancia crees que tienen los ejercicios que el fisioterapeuta te pauta para hacerlos en casa?</h2>
    (Desliza el botón en la raya hacia la izquierda para menos o hacia la derecha más.)
    <form method="post" id="questionnaire">
        {% csrf_token %}
        <div class="control my-4">
            <div class="columns">
                <div class="column">
                    <div class="tags has-addons">
                        <span class="tag is-medium is-dark">Ninguna</span>
                        <span id="SliderLess" class="tag is-medium is-danger" style="min-width: 100px; opacity: 0.5;"></span>
                    </div>
                </div>
                <div class="column is-8">
                    <input id="Slider" name="answer06" oninput="rangeChangeHandler(event)" class="slider is-fullwidth is-info" step="1" min="0" max="100" value="50" type="range">
                </div>
                <div class="column">
                    <div class="tags has-addons">
                    <span id="SliderMore" class="tag is-medium is-success" style="min-width: 100px; opacity: 0.5;"></span>
                    <span class="tag is-dark is-medium">Muchísima</span>
                </div>
                </div>
            </div>
        </div>
    </form>
    <div class="level my-5">
        <div class="level-left">
            <button class="button is-info" onclick="showModal()">Vamos a seguir!</button>
        </div>
    </div>
</section>
{% endblock %}

{% block modalcontent %}
    <div class="content">
        <p>
            El uso excesivo del teléfono móvil puede afectar a una variedad
            sorprendente de estructuras de nuestro aparato locomotor:
        </p>
        <ul>
            <li>La eminencia tenar (la base del pulgar)</li>
            <li>La muñeca</li>
            <li>El codo</li>
            <li>El hombre</li>
            <li>El cuello</li>
        </ul>
        <p>
            En ocasiones basta con darle una tregua a nuestro cuerpo, 
            bajar el uso del móvil y usar la otra mano para su manejo 
            durante un tiempo.
        </p>
    <button class="button" form="questionnaire">Cerrar y seguir</button>
    </div>
{% endblock %}

{% block js %}
{{ block.super }}
<script>
    function rangeChangeHandler(event){
        lessTag = document.getElementById(event.target.id + "Less");
        lessTag.style.opacity = 1 - event.target.value / 100
        moreTag = document.getElementById(event.target.id + "More");
        moreTag.style.opacity = event.target.value / 100
    }
</script>
{% endblock %}