{% extends "baseform.html" %}
{% load static %}
{% block progress %}
<figure class="image px-5">
    <img src="{% static 'tfgcore/img/progress_question08.svg' %}">
</figure>
{% endblock %}

{% block body %}
{% if msgs %}
        <div class="message is-danger">
            <div class="message-header">
                <p>Echa un vistazo</p>
            </div>
            <div class="message-body">
                <div class="content">
                    {% for msg in msgs %}
                        <p>
                            {{msg}}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
<section class="section">
    <h2>
        ¿Crees que el terapeuta debe dedicarle tiempo a darle información y explicaciones a su paciente?
        ¿Cuánto tiempo te parecería adecuado?
    </h2>
    <form method="post" id="questionnaire">
        {% csrf_token %}
        <div class="control my-4">
            <div class="field">
                <label class="radio label" for="1">
                    <input id="1" value="1" type="radio" name="answer07">
                    Entre 5 y 10 minutos
                </label>
            </div>
            <div class="field">
                <label class="radio label" for="2">
                    <input id="2" value="2" type="radio" name="answer07">
                    Entre 10 15 minutos
                </label>
            </div>
            <div class="field">
                <label class="radio label" for="3">
                    <input id="3" value="3" type="radio" name="answer07">
                    Entre 15 minutos y media hora
                </label>
            </div>
            <div class="field">
                <label class="radio label" for="4">
                    <input id="4" value="4" type="radio" name="answer07">
                    Más de media hora
                </label>
            </div>
            <div class="field">
                <label class="radio label" for="5">
                    <input id="5" value="5" type="radio" name="answer07">
                    El tiempo que sea necesario para que el paciente lo tenga claro, aunque sea más de una hora
                </label>
            </div>
        </div>
    </form>
    <div class="level my-5">
        <div class="level-left">
            <button class="button is-info" onclick="showModal()">Vamos a seguir!</button>
        </div>
    </div>
</section>
{% endblock %}
{% block modalcontent %}
    <div class="content">
        <p>
            En el deporte la respiración representa hasta un 15% del
            consumo de energía durante el ejercicio. Con una buena
            técnica de respiración se puede aumentar de forma 
            considerable la difusión, es decir la cantidad de oxígeno
            que pasa a la sangre.
        </p>
    <button class="button" form="questionnaire">Cerrar y seguir</button>
    </div>
{% endblock %}