{% extends "baseform.html" %}
{% load static %}
{% block progress %}
<figure class="image px-5">
    <img src="{% static 'tfgcore/img/progress_question08.svg' %}">
</figure>
{% endblock %}

{% block body %}
<section class="section">
    <h2>
        ¿Cree que el terapeuta debe dedicarle tiempo a darle información y explicaciones a su paciente?
        ¿Cuánte tiempo le parecería adecuado?
    </h2>
    <form method="post" id="questionnaire">
        {% csrf_token %}
        <div class="control my-4">
            <div class="field">
                <input class="is-checkradio" id="1" value="1" type="radio" name="treatmenttype">
                <label class="label" for="1">Entre 5 y 10 minutos</label>
            </div>
            <div class="field">
                <input class="is-checkradio" id="2" value="2" type="radio" name="treatmenttype">
                <label class="label" for="2">Entre 10 15 minutos</label>
            </div>
            <div class="field">
                <input class="is-checkradio" id="3" value="3" type="radio" name="treatmenttype">
                <label class="label" for="3">Entre 15 minutos y media hora</label>
            </div>
            <div class="field">
                <input class="is-checkradio" id="4" value="4" type="radio" name="treatmenttype">
                <label class="label" for="4">Más de media hora</label>
            </div>
            <div class="field">
                <input class="is-checkradio" id="5" value="5" type="radio" name="treatmenttype">
                <label class="label" for="5">El tiempo que sea necesario para que el cliente lo tenga claro, aunque sea más de una hora</label>
            </div>
        </div>
    </form>
    <div class="level my-5">
        <div class="level-left">
            <button class="button is-info" onclick="showModal()">Vamos a seguir!</button>
        </div>
    </div>
</section>
{% endblock %}