{% extends "baseform.html" %}
{% load static %}
{% block progress %}
<figure class="image px-5">
    <img src="{% static 'tfgcore/img/progress_question01.svg' %}">
</figure>
{% endblock %}

{% block body %}
<section class="section">
    {% if msgs %}
        <div class="message is-danger">
            <div class="message-header">
                <p>Echa un vistazo</p>
            </div>
            <div class="message-body">
                <div class="content">
                    {% for msg in msgs %}
                        <p>
                            {{msg}}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <h2  class="is-size-5">¿Has estado en tratamiento de fisioterapia en los últimos años?</h2>
    <form method="post" id="questionnaire">
        {% csrf_token %}
        <div class="control my-4">
            <div class="field">
                <label class="radio label" for="1">
                    <input id="1" value="1" type="radio" name="intreatment">
                    No
                </label>
            </div>
            <div class="field">
                <label class="radio label" for="2">
                    <input id="2" value="2" type="radio" name="intreatment">
                    Sí, hace menos de un año.
                </label>
            </div>
            <div class="field">
                <label class="label radio" for="3">
                    <input id="3" value="3" type="radio" name="intreatment">
                    Sí, hace más de un año pero menos de tres años.
                </label>
            </div>
            <div class="field">
                <label class="label radio" for="4">
                    <input id="4" value="4" type="radio" name="intreatment">
                    Sí, hace más de tres años.
                </label>
            </div>
        </div>
    </form>
    <div class="level my-5">
        <div class="level-left">
            <button class="button is-info" onclick="showModal()">Vamos a seguir!</button>
        </div>
    </div>
</section>
{% endblock %}

{% block modalcontent %}
    <div class="content">
        <p>
        La gran mayoría de las lumbalgias son inespecíficas, es decir, que no 
        se puede determinar la causa. Así que, no pienses directamente en una 
        hernia si tienes dolor de espalda baja. Y aunque fuera una hernia, que
        sepas que la gran mayoría de ellas se resuelven solas y el tratamiento 
        conservador suele dar buenos resultados.
        </p>
    <button class="button" form="questionnaire">Cerrar y seguir</button>
    </div>
{% endblock %}