{% extends "baseform.html" %}
{% load static %}
{% block progress %}
<figure class="image px-5">
    <img src="{% static 'tfgcore/img/progress_question02.svg' %}">
</figure>
{% endblock %}

{% block body %}
<section class="section">
    {% if msgs %}
        <div class="message is-danger">
            <div class="message-header">
                <p>Echa un vistazo</p>
            </div>
            <div class="message-body">
                <div class="content">
                    {% for msg in msgs %}
                        <p>
                            {{msg}}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <h2 class="is-size-5">¿Qué terapias o tratamientos ha aplicado el fisioterapeuta?</h2>
    <form method="post" id="questionnaire">
        {% csrf_token %}
        <div class="control my-4">
            <div class="field">
                <input class="is-checkradio" id="1" value="1" type="checkbox" name="treatmenttype">
                <label class="label" for="1">No me acuerdo</label>
            </div>
            <div class="field">
                <input class="is-checkradio" id="2" value="2" type="checkbox" name="treatmenttype">
                <label class="label" for="2">Corrientes eléctricas</label>
            </div>
            <div class="field">
                <input class="is-checkradio" id="3" value="3" type="checkbox" name="treatmenttype">
                <label class="label" for="3">Agujas</label>
            </div>
            <div class="field">
                <input class="is-checkradio" id="4" value="4" type="checkbox" name="treatmenttype">
                <label class="label" for="4">Terapia manual, masajes o movilizaciones</label>
            </div>
            <div class="field">
                <input class="is-checkradio" id="5" value="5" type="checkbox" name="treatmenttype">
                <label class="label" for="5">Ejercicio terapéutico</label>
            </div>
            <div class="field">
                <input class="is-checkradio" id="6" value="6" type="checkbox" name="treatmenttype">
                <label class="label" for="6">Ultrasonido.</label>
            </div>
            <div class="field">
                <input class="is-checkradio" id="7" value="7" type="checkbox" name="treatmenttype">
                <label class="label" for="7">Magnetoterapia</label>
            </div>
        </div>
        <div class="field">
            <label class="label">Otro tratamiento</label>
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="otro tratamiento" name="othertreatment">
                <span class="icon is-small is-left">
                    <i class="fas fa-syringe"></i>
                </span>
            </p>
          </div>
    </form>
    <div class="level my-5">
        <div class="level-left">
            <button class="button is-info" onclick="showModal()">Vamos a seguir!</button>
        </div>
    </div>
</section>
{% endblock %}

{% block modalcontent %}
    <div class="content">
        <p>
            Las estadísticas y los diagramas que se publican en los medios de comunicación
            suelen reflejar una población en un momento dado. Ahí entran personas sedentarias
            y activas, fumadores y no-fumadores, gente con dieta sana y asiduos al McBurger.
        </p>
        <p>
            Cuando lees que con una determinada enfermedad hay una esperanza de vida
            de x años, no le hagas mucho caso. ¡Es una media, no un hecho inamovible!
            Según la patología, el estilo de vida puede
            influir mucho. No hagas caso, infórmate bien sobre tu enfermedad. 
            ¡Probablemente tu esperanza de vida está en tus manos!
        </p>
    <button class="button" form="questionnaire">Cerrar y seguir</button>
    </div>
{% endblock %}