{% extends "base.html" %}
{% load static %}
{% block body %}
<section class="section">
    <div class="content">
        <h1 class="title is-1">Sobre la Encuesta</h1>
        <p>
            Los profesionales de la salud frecuentemente hacemos suposiciones sobre la imagen que tienen los pacientes de nuestra profesión, 
            de sus conocimientos y sus actitudes. Esto es muy gordo, porque a veces actuamos basándonos en ideas personales acerca
            de lo que piensan o lo que saben las personas sin tener datos objetivos. Y sin datos es muy fácil dejarse
            llevar por ideas equivocadas.
        </p>
        <p>
            Con esta encuesta quiero aportar datos objetivos sobre la imagen que tiene la población de nosotros, 
            los fisioterapeutas. Esto nos ayudará a conocer mejor a nuestros pacientes, y a tomar mejores decisiones.
        </p>
        <p>
            También facilitará información sobre posibles ideas equivadas en la población y nos dará una oportunidad 
            a explicar mejeor las cosas.
        </p>
        <p>
            Pero seamos sinceros, las encuestas a menudo son un coñazo. 
            Por eso me he esforzado para que sea un poco más ameno. Los participantes, o sea personas como tú, me dan información
            y a cambio reciben algunos datos curiosos, graciosos o útiles. Por cierto, ¿sabías que ya en Egipto y la antigua Roma se 
            usaba el ejercicio moderado como terapia?
        </p>
        <p>
            Obviamente necesito asegurarme que los datos que se recojen en la encuesta sean reales. Por este motivo necesito algunos
            datos identificativos, como vuestro nombre y apellidos y un correo electrónico. Estos datos personales están especialmente
            protegidos por ley y además se guardan de forma separada. 
        </p>
        <p>
            También necesito tener algunos datos más sobro los participantes como la edad, el sexo, la profesión y si
            hacen algún deporte. Es la única manera de saber, en qué medida estas características influyen en la imagen que 
            tienen las personas de nosotros.
        </p>
        <p>
            En cada apartado también tenéis la posibilidad de hacer comentarios adicionales. De este modo os podéis desahogar
            sin estar limitado por el formato del cuestionario. Aunque igual no todos los comentarios quedarán reflejados en 
            el trabajo, os aseguro y os prometo que leeré con atención todos y cada uno de ellos. 
        </p>
    </div>
</section>
{% endblock %}