{% extends "base.html" %}
{% load static %}
{% block body %}
<section class="section">
    <div class="content">
        <h1 class="title is-1">Sobre la Encuesta</h1>
        <p>
            Los profesionales de la salud frecuentemente hacemos suposiciones sobre la imagen que tienen los pacientes de nuestra profesión, 
            de sus conocimientos y sus actitudes. Esto es muy gordo, porque a veces actuamos basándonos en ideas personales acerca
            de lo que piensan o lo que saben las personas sin tener datos objetivos. Y sin datos es muy fácil dejarse
            llevar por ideas equivocadas.
        </p>
        <p>
            Esta encuesta quiere aportar datos objetivos sobre la imagen que tiene la población de nosotros, 
            los fisioterapeutas. Esto nos ayudará a conocer mejor a nuestros pacientes y a tomar mejores decisiones.
        </p>
        <p>
            También facilitará información sobre posibles ideas equivadas en la población y nos dará una oportunidad 
            a explicar mejor las cosas.
        </p>
        <p>
            Pero seamos sinceros, las encuestas a menudo son un pelmazo. 
            Por eso me he esforzado para que sea un poco más ameno. Los participantes, o sea las personas como tú, me dan información
            y a cambio reciben algunos datos curiosos, graciosos o útiles. Por cierto, ¿sabías que ya en Egipto y la antigua Roma se 
            usaba el ejercicio moderado como terapia?
        </p>
        <p>
            Esta encuesta ha sido autorizada por un organismo que vela por los aspectos éticos de la Investigación en la Universidad
            Miguel Hernández, la <a href="https://oir.umh.es/" target="_blank">Oficina de Investigación Responsable</a>. 
            El código OIR provisional es 250209104817.
        </p>
        <p>
            Esta encuesta es anónima, no se guardan datos que permitan identificar a los participantes de la encuesta. 
            Únicamente se pide un correo electrónico, sin embargo sólo se guardará una huella (hash) del mismo. En cuanto a datos
            personales solo se piden lo estrictamente relevante para este trabajo.
        </p>
        <p>
            Por último, si quieres comentar algo más allá de las preguntas del cuestionario me podrás contactar a través del correo 
            electrónico <a href="mailto:tfg@markusbarth.net">tfg@markusbarth.net</a>
        </p>
        <p>
            Los resultados de esta Investigación se publicarán en este mismo sitio.
        </p>
    </div>
</section>
{% endblock %}